name: Upload data
on:
  workflow_run:
    workflows: ["Check data"]
    types: [completed]
jobs:
  upload:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: actions/checkout@v3
    - uses: tradingview-pine-seeds/actions/upload-data@v1
